.moimoietmoi{
color: #F0F0F0;
font-family:"Source Sans Pro";
font-weight:300;
font-size: 1rem;
line-height:1.5rem;
}

#internship{
    color: #1CAE87;
    text-align:left;
}

#portrait{
    margin-top: 20px;
    width:45vw;
    object-fit:contain;
}

#verscontact{
    left:50%;
}

@media (min-width:0px){
    .moimoietmoi{
        text-align: center;
    }

    .moimoietmoi p {
        text-align:justify;
        text-align-last:left;
    }

    #internship{
        text-align-last:left;
    }

    #contact{
        text-align-last:center;
    }
}

@media (min-width:400px){


    #verscontact{
        left:50%;
    }
}


@media (min-width:600px){
    #portrait{
        width:274px;
    }
}