.moimoietmoi{
color: #F0F0F0;
font-family:"Source Sans Pro";
font-weight:300;
font-size: 1rem;
line-height:1.5rem;
}

#internship{
    color: #1CAE87;
}

#portrait{
    margin-top: 20px;
    width:45vw;
    object-fit:contain;
}

#verscontact{
    left:50%;
}

@media (min-width:0px){
    .moimoietmoi{
        text-align: center;
    }
}

@media (min-width:400px){
    .moimoietmoi{
        text-align: justify;
        text-align-last: center;
        -moz-text-align-last: center;
    }

    #verscontact{
        left:50%;
    }
}


@media (min-width:600px){
    #portrait{
        width:274px;
    }
}