
footer{
    background-color:#F0F0F0;
    padding:20px;
    padding-bottom:10px;
    position:relative;
    width:100vw;
    margin-top:50px;
}

.boiteimg{
    height:35px;    
    margin-bottom: 20px;
    display:block;
}


footer a{
    margin:5px;
    text-decoration:none;
    text-decoration-line: none;
}

footer button {
    background:#1E1E1E;
    left:50%;
}

footer button:hover{
    color:#1E1E1E;
    background:#1CAE87;
}


footer label{
    font-weight:600;
}

footer label div {
    font-weight:900;
    widows: 10rem;
    left:50%
}


#copyr{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color:#1E1E1E;
    font-size:0.8em;
    margin-bottom:15px;

}

#back{
    margin : 5px;
}


@media (min-width:1000px){
    footer{
        background-color:rgba(0,0,0,0); 

    }

    .boiteimg{
      right:50px;
      display: flex;
      height:35px;
      width:35px;
      right:50px;
      left:95%;
      flex-direction: column;
      justify-content:space-between;
      align-content:stretch;
      text-align:right;
      
    }

    .boiteimg img{
        fill:#F0F0F0;
    }

    footer img{
height:35px;
width:35px;
    }

    #copyr{
        color:#F0F0F0;
        bottom:0px;
        margin-bottom:0px;
        text-align:right;
    }

    footer button {
        display:none;
    }
    
}