header{
  display: flex;
  width:100%;
  align-items: center;
  justify-content: space-between;

}


.menuHead {align-self:flex-end}
.menuHead a {
  margin: 0px 0px 0px 2.1vw;
  color:white;
  text-decoration: none;
  text-transform:uppercase;
  font-size: 100%;
  font-weight:400;
  display:none;
  white-space: nowrap;
right:2vw;
line-height:2.3em;
}

.menuHead a:hover{
  color:#1CAE87;
}

@media (min-width:1000px){
  .menuHead a{display:inline}
  .hamburger{display:none}
}

#labelmenu{
  height:100%;
}

  
label .hamburger {
  position:fixed;
  z-index:100;
  background: rgba(220,220,220);
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  -moz-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  right:0px;
  line-height: 1.8em;
  height: 2px;
  width:25px;
  right:20px; 
  top:25px;
}

label .hamburger:before { top: -7px; }
label .hamburger:after { bottom: -7px; }

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position:absolute;
  display: block;
  width: 100%;
  height:100%;
  background: rgb(220,220,220);
}


label input { display: none; }

label input:checked  {
  box-shadow: 0 0 0 600vh rgb(25,25,25), 0 0 0 600vh rgb(180,180,180); /* ne prenons pas de risques ! allons-y pour 6 ! */
  border-radius: 0;
}

label input:checked + .hamburger {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 0 0 0 600vh rgb(25,25,25)
}

label input:checked + .hamburger:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .hamburger:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

/*apparition des menus trop tôt */  
label input:checked + .hamburger + ul { 
  opacity: 1; 
  display: initial;
}

label ul {
  z-index: 200;
  position: fixed;
  top:45vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 3s 2s ease-in-out;
  -moz-transition: 3s 2s ease-in-out;
  -o-transition: 3s 2s ease-in-out;
  transition: 3s 2s ease-in-out;
  list-style:none;
  font-size: 8vh;
  display:none;
  padding:0px;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: rgb(180,180,180);
  text-decoration: none;
  text-transform:uppercase;
  font-size: 8vh;
}



@media (min-width:400px){
label .hamburger{
  width:30px;
  right:25px;
}
}

@media (min-width:600px){
  label .hamburger{
    top:30px;
    right:25px;
  }
    label .hamburger:before { top: -8px; }
  label .hamburger:after { bottom: -8px; }
}

@media (min-width:800px){
  label .hamburger{
    right:2vw;
    top:35px;
 width:35px
}
}

@media (min-width:1200px){
    label .hamburger{
      width:40px;
      top:40px;
    }

  label .hamburger:before { top: -9px; }
  label .hamburger:after { bottom: -9px; }

  label ul {top:43vh;}
}

@media (min-width:1600px){
  label .hamburger:before { top: -10px; }
  label .hamburger:after { bottom: -10px; }
}