  .bourrin{
      height:100vh;
      width:100vw;
  }

  footer{
    position:fixed;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    color: #F4ECC6;
    font-size: 26vw;
    text-align:left;
    line-height:23vw;
}

footer{
    position:0px;
    bottom:0px;
}

.nom {
    position: relative;
    width: 60%;
    margin-bottom: 20px;
}

.raphael {
    top: 0%;
    margin:0px;
    color:#F0F0F0;
}

.perraud {
    bottom: 0%;
    margin:0px;
    color:#1CAE87;
}


.presentation{
text-align:left;
color: #9F9F9F;
font-family:"Source Sans Pro";
font-size:700;
font-size: 1rem;
line-height:1.4rem;
margin-left:1.57vw;
}

.txtprez{
    margin-top:0px;
    margin-bottom:0px;
}

@media(min-width:200px){
    h1{

}
}

@media(min-width:1200px){
    h1{
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
}

@media(min-width:1200px){
    h1{
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
}

@media(min-width:1200px){
        h1{
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}