  .bourrin{
      height:100vh;
      width:100vw;
  }

  footer{
    -webkit-transform: translateY(230%);
    -moz-transform: translateY(230%);
    -o-transform: translateY(230%);
    transform: translateY(230%);
  }

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    color: #F4ECC6;
    font-size: 26vw;
    text-align:left;
    line-height:23vw;
}

footer{
    position:0px;
    bottom:0px;
}

#home{margin-right:25px;   }

@media(max-width:400px){
    #home{font-size:1.5em;}
label .hamburger {line-height:1.5em;}
}

.presentation{
text-align:left;
color: #9F9F9F;
font-family:"Source Sans Pro";
font-size:700;
font-size: 1rem;
line-height:1.4rem;
}

.txtprez{
    margin-top:0px;
    margin-bottom:0px;
}

@media(min-width:1200px){
    h1{
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
}

@media(min-width:1200px){
    h1{
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
}

@media(min-width:1200px){
        h1{
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}