footer{
    -webkit-transform: translateY(250%);
    -moz-transform: translateY(250%);
    -o-transform: translateY(250%);
    transform: translateY(250%);
}



footer{
    position:0px;
    bottom:0px;
}

#home{margin-right:25px;   }

@media(max-width:400px){
    #home{font-size:1.5em}
label .hamburger {line-height:1.5em}
}

.presentation{
text-align:left;
color: #9F9F9F;
font-family:"Source Sans Pro";
font-size:700;
font-size: 1rem;
line-height:1.4rem;
}

.txtprez{
    margin-top:0px;
    margin-bottom:0px;
}
