@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,500i,600,700,,800,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700');

html {
    box-sizing: border-box;
    text-align: center;
}

@media print {
    #ghostery-purple-box {
     display:none !important
    }
   }
   
   
*,
*:after,
*:before {
    box-sizing: inherit;
}

/* pour avoir un modele de boite plus intuitif, à copiercoller à chaque fois */

body {
    background-color:rgba(30,30,30,20);
    padding: 0;
    margin: 0;
    width:100%;
    height:100%;
    font-family: 'Raleway';
}

canvas {
    position:relative;
    z-index:1;
}

.bourin{
position:absolute;
width:100%;
z-index:2;
}

img{
    max-height:100%
 }

h2{
font-family: 'Raleway';
font-weight:900;
font-size: 1.8em;
color:#F0F0F0;
text-transform:uppercase;
position: relative;
text-align:left;
width:100%
}

h2 span {
    color:#1CAE87;
}

.zonecentrale{
    width:90%;
    margin:5%;
    padding:0px;
    margin-bottom:100px;
    }

.h2works{
    text-decoration:none; 
}

.h2contact{
    text-transform:none;
    margin:0px;
}


.bouton {
    cursor: pointer;
    width:11rem;
    height: 3rem;
    border-radius: 6px;
    line-height: 0.23rem;
    font-size:1.2em;
    font-weight:600;
    color:#1CAE87;
    border:none;
    box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.5);
}

.buttonblack {
    background:#000000;
    float:right;
}

.buttonblack:hover{
    background:#1CAE87;
    color: #000000;
}