.zonecentrale{
    height:100vh;
}

.grider{
    display: grid;
    grid-auto-columns: repeat(calc(100% / 150), 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, 50px);
    margin-top:20px;
    grid-auto-flow:dense;
}

.projectone{
grid-column: 1/2;
grid-row: 4;
}

.projecttwo{
    grid-column:6;
    grid-row: 5;
}

.projectthree{
    grid-column:  4;
    grid-row:7;
}

.projectfour{
    grid-column: 8;
    grid-row:3;

}

.projectfive{
    grid-column: 3;
    grid-row: 1;
}


.experiments{
    grid-column: 7;
    grid-row:2;
}

h4 {
text-decoration:none;
font-family: 'Raleway';
font-weight:800;
font-size: 1.3em;
color:#1CAE87;
margin:0px;
}

#postxt{
    left:50%;
    margin:10px;
}

.workfloating a{
text-decoration:none;
}


.workfloating div {
white-space: nowrap;
background-color:rgba(0,0,0,0.5);
padding : 15px 20px 15px 20px;
z-index:31;
border-radius:2%;
}

.workfloating p{
    font-family:"Source Sans Pro";
    font-weight:200;
    font-size: 1em;
    margin:0px;
    color: #F0F0F0;
}


.workfloating img{
    z-index:30;
    position:relative;
    max-width:180px;
    max-height:150px;
 }



.sideright{
    left:50%;
    text-align: left;   
}

.sideleft{

right:50%;
    text-align:right;
}

#resize{
object-fit: fill;
-o-object-fit: fill;
border-radius: 50%;
}

@media (min-width:1200px)