.zonecentrale{
    height:100vh;
}

@media (max-width:660px){
    .zonecentrale{
       height: 1300px;   
    }
}


.filtres{
text-decoration:none;
font-family: 'Raleway';
font-weight:700;
font-size: 1.8em;
color:#F0F0F0;
text-transform:uppercase;
position: relative;
text-align:left;
width:100%;
}


h4 {
text-decoration:none;
font-family: 'Raleway';
font-weight:800;
font-size: 1.3em;
color:#1CAE87;
margin:0px;
}


#postxt{
    left:50%;
    margin:10px;
}

.workfloating{
    display:flex;
    align-content: flex-start;
    justify-content: left;
    z-index:15;
/*opacity:0.5;*/
}


.workfloating a{
text-decoration:none;

}


.workfloating div {
white-space: nowrap;
background-color:rgba(0,0,0,0.65);
padding : 10px 15px 10px 15px;
z-index:31;
border-radius:2%;
margin:15px;
position:relative;
}

.workfloating p{
    font-family:"Source Sans Pro";
    font-weight:200;
    font-size: 1em;
    margin:0px;
    color: #F0F0F0;
}



.workfloating img{
    z-index:30;
    display:inline;
    position:relative;
    filter: brightness(0.75) blur(0.8px) saturate(20%) hue-rotate(-98deg);
    /*margin:50px; *//*pas top mais ça permet de les espacer en attendant que je place correctement enjs */ 
}

.workfloating img:hover {
    filter:initial
}

.sideright{
    left:50%;
    text-align: left;   
}

.sideleft{

right:50%;
    text-align:right;
}

/*solution rapide */
#resize{
object-fit: fill;
-o-object-fit: fill;
border-radius: 50%;
}