header + a {
    font-family:"Raleway";
  
    color:#F0F0F0;
    font-size: 1.1em;
    text-transform: uppercase;
    text-align:left;
}

header a p span {
font-weight:900;
}

.flexPrez{
    display:block;
    text-align:left;
}

.flexPrez article {
    display: inline-block;
}

.titleP{
background-color:rgba(0,0,0,0.65);
align-content: left;
padding : 5px 20px;
display:inline
}

h3{
    font-family: 'Raleway';
    font-weight:800;
    font-size: 1.7em;
    color:#1CAE87;
    text-transform:uppercase;
    position: relative;
    text-align:left;
    width:100%;
    margin: 15px 0px 0px 0px;
}

.flexPrez .titleP p {
    color: #F0F0F0;
    font-family: "Raleway";
    font-weight: 300;
    font-size: 1em;
    text-align: left;
    text-transform:uppercase;
    margin: 0px;
}


.prezImg{

    object-fit: contain;
    -o-object:contain;
    margin: 5vh 18vw;
    width:30vw;
    max-width:300px;
    float: right;
}

#resize{
    object-fit: fill;
-o-object-fit: fill;
border-radius: 50%;
}


.NOTREPROJET{
    background-color:rgba(0,0,0,0.65);
    align-content: left;
    padding : 30px 20px 30px 20px;
    margin-top:10vh;
    margin-bottom:10vh;
    color: rgb(204, 202, 202);
    font-family:"Source Sans Pro";
    font-weight:300;
    font-size: 1rem;
    line-height:1.5rem;
    margin:0px;
    text-align: left;
}


.NOTREPROJET a {
    color:#1CAE87;
}

#troisphrases{
font-weight:400;
font-size:1.2rem;
}

.bandeau{
object-fit: cover; 
-o-object-fit: cover;
left:0px;
width:100vw;
height:40vw;
margin-bottom:10vh;
max-height:400px;
}

.stockImg{
align-content:center;
align-self:center;
display:inline-block;   
margin-bottom:5vh;
background-color: rgba(0,0,0,0.5);
}

.imgHoz{ 
width:70vw;
margin:20px;
max-width:486px;
max-height:364.5px;
display:inline-block;
object-fit: cover;
box-shadow: 5px 5px 60px rgba(0, 0, 0), -5px -5px 60px rgba(0, 0, 0)
/*border: rgba(46,46,46,0.8) 20px  solid;*/
}

.imgVer{ 
    height: 50vh;
    margin:20px;
    max-width:486px;
    max-height:364.5px;
    display:inline-block;
    object-fit: cover; 
    box-shadow: 5px 5px 60px rgba(0, 0, 0), -5px -5px 60px rgba(0, 0, 0)
  /*  border: rgba(0,0,0,0.5) 10px solid;*/
}

.containerImg{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

@media (min-width:350px){
    .flexPrez .titleP p {white-space:nowrap}
    h3{white-space:nowrap}
    }

@media (min-width:600px){
    h3{font-size:2.2em}
    .flexPrez .titleP p {font-size:1.3em}
}

@media (min-width:1000px){
    h3{font-size:2.5em}

    .flexPrez{
        width:90%
    }
    .flexPrez .titleP p {font-size:1.6em}
    
}

@media (min-width:1200px){
    .prezImg{
        position: absolute;
        margin:0px;
        right:1vw;
        }
    
        .NOTREPROJET{
            width:75%;
        }
}