header{
    margin-bottom:50px;
}

header a {
    font-family:"Raleway";
    color:#F0F0F0;
}

header a p span {
font-weight:900;
}

.flexPrez{
    display:block;
    text-align:left;
}

.flexPrez article {
    display: inline-block;
}

.titleP{
background-color:rgba(0,0,0,0.65);
align-content: left;
padding : 15px 20px;
display:inline;
border-radius:4px;
margin-right:20vw;
}

h3{
    font-family: 'Raleway';
    font-weight:800;
    font-size: 1.7em;
    color:#1CAE87;
    text-transform:uppercase;
    position: relative;
    text-align:left;
    width:100%;
    margin:0px
}

.flexPrez .titleP p {
    color: #F0F0F0;
    font-family: "Raleway";
    font-weight: 300;
    font-size: 1em;
    text-align: left;
    text-transform:uppercase;
    margin: 0px;
}


.prezImg{

    margin: 5vh 18vw;
    width:30vw;
    max-width:300px;
    max-height:300px;
    float: right;
}

#resize{
    object-fit: fill;
-o-object-fit: fill;
border-radius: 50%;
}


.NOTREPROJET{
    background-color:rgba(0,0,0,0.65);
    align-content: left;
    padding : 25px 20px 30px 20px;
    margin: 5vh 0px 10vh 0px;
    color: rgb(219, 219, 221);
    font-family:"Source Sans Pro";
    font-weight:300;
    font-size: 1rem;
    line-height:1.5rem;
    text-align: left;
    border-radius:4px;
}

.NOTREPROJET p {
    margin:5px 0px 0px 0px;
}

.NOTREPROJET a {
    color:#1CAE87;
}

#tag{    
    font-size:0.9em;
    margin:0px;
}

#tag a {
    color: rgb(219, 219, 221);
    text-decoration:underline;
}

#tag a:hover {
   text-decoration:none;
    color: #1CAE87;
}

#troisphrases{
font-weight:400;
font-size:1.2rem;
text-align: justify;
text-align-last: left;
}

.bandeau{
object-fit: cover; 
-o-object-fit: cover;
left:0px;
width:100vw;
height:40vw;
margin-bottom:10vh;
max-height:400px;
}

.text {
    display : flex ;
    justify-content: center
}

.expl{
    color: rgb(219, 219, 221);  
    text-align:left;
    width : 70%;
    margin:0px 5%;
}

.expl h4{
font-weight: 700;
font-size:1.7em;
margin:50px 5% 15px 5%;
}

.expl p {
    font-family:"Source Sans Pro";
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    margin:0px 5% ;
    word-wrap:nowrap;
    max-width:795px;
    text-decoration:none;

}

.expl p a {color:#1CAE87}



@media(min-width:1404px){
    .expl h4 {margin-left:calc((100% - 795px) * 0.5)}
    .expl p {margin-left: calc((100% - 795px) * 0.5)}
}

.expl p span { font-weight:600}

.expl img{
    margin: 30px 0px ;
    max-width:100%;
}

.expl p + div{
    margin: 30px 0px ;
    max-width:100%;
    display:flex;
    justify-content: space-between;
}

.expl p + div img{
    margin: 30px 1% ;
    max-width:50%;
}

.imgHoz{ 
    width:100%;
    margin:10px 10px 40px 20px;
    max-width:480px;
    object-fit: fill;
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.7), -5px -5px 60px rgba(0, 0, 0, 0.7)
    /*border: rgba(46,46,46,0.8) 20px  solid;*/
    }

iframe{
    box-shadow: 5px 5px 60px rgba(0, 0, 0,0.7), -5px -5px 60px rgba(0, 0, 0,0.7);
    margin: 10px 10px 40px 20px;
    display:block;
}

.imgVer{ 
    height: 50%;
    margin:20px;
    /*max-width:max-content;/*486px;*/
    max-height:364.5px;

    object-fit: contain; 
    box-shadow: 5px 5px 60px rgba(0, 0, 0,0.7), -5px -5px 60px rgba(0, 0, 0,0.7)
  /*  border: rgba(0,0,0,0.5) 10px solid;*/
}


.containerImg{
    display:flex;
    flex-wrap:wrap;
justify-content:space-evenly;
}

@media (min-width:350px){
    .flexPrez .titleP p {white-space:nowrap}
    h3{white-space:nowrap}
    }

@media (min-width:600px){
    h3{font-size:2.2em}
    .flexPrez .titleP p {font-size:1.3em}
}

@media (min-width:1000px){
    h3{font-size:2.5em}

    .flexPrez{
        width:90%
    }
    .flexPrez .titleP p {font-size:1.6em}
}

@media (min-width:1200px){
    .prezImg{
        position: absolute;
        margin:0px;
        right:1vw;
        }
    
        .NOTREPROJET{
            width:75%;
        }
}

.inwork p{
    width:90%;
    position:relative;
    color:#1CAE87;/*28, 174, 135*/
    font-size:2em;
    font-family: 'Raleway';
    font-weight:800;
    top:60%;
    text-align:center;
    vertical-align: center;
}

.inwork p + p {
    color:#F0F0F0; 
    font-weight:400; 
    font-size:1.5em;
}

.inwork a{ color:#1CAE87 }

/* modales */.img-sensible { max-width:250px; }
.twAudessus {
    /* Le trame de fond */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.7);
    /*-webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; */
  }
  .twAudessus a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
   }

   .rise{
      width:90%;
    max-width:1200px;
    max-height:calc(100vh - 20px);
    padding: 10px;
   /* -webkit-border-radius: 10px;
    -moz-border-radius: 10px;*/
  }

  .twAudessus:target {
    /* Affichage de l’image */
    display: table;
     -webkit-transition: width 2s;
      transition: width 2s;
  }

  .verti{
    max-height:95vh;
    max-width:unset;
}

  @media screen and (max-width: 1600px){.twAudessus img { max-width:1000px}}
  @media screen and (max-width: 1024px){.twAudessus img { max-width:700px}}
  @media screen and (max-width: 800px){.rise { max-width:500px }}
  @media screen and (max-width: 600px){
      .verti{      
          width:90%;
        max-width:1200px;
        max-height:calc(100vh - 20px);}
    }





